/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5 {
  margin: 30px;
  background-color: #EEEEEE;
}

header {
  height: 100px;
}

body {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  position: relative;
}

.paginate{
  justify-content: center;
}

div {
  display: block;
}

 .container {
   margin-top: 20px;
 }

 .input-mysize {
   width: 100px;
 }

 footer {
    width: 100%;
    bottom: 0;
    border-top: 2px solid #000000;
 }